/* колір основного тексту: #212121; */
/* другорядний колір тексту: #757575;*/
/* акцент: #2196F3;*/
/* білий колір:#FFFFFF;*/
:root{

    --accent-color:#2196F3;
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
}
body{
    background-color: #F5F5F5;;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;;
}
/* Header general */
.header{
    color:#FFFFFF;
    letter-spacing: 0.02em;;
}

.logo{
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}
.logo-first{
    color: #000000;
}

.list{
    list-style-type: none;
    text-decoration: none;
}

.site-nav .link{
    color: #212121;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}

.info-nav .info-link{
    color:var(--secondary-text-color);
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.info-nav .info-link:hover,
.info-nav .info-link:focus {
    color:var(--accent-color);
}

/* Main content */

/* Hero */
.hero{
background-color: #2F303A;;
}

.hero-title{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button{
    color: #FFFFFF;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* Advantages */
.advantages{
background-color: #F5F5F5;;
}
.title{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.advantages .item{
    color: var(--primary-text-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    
}

.advantages .text{
    color: var(--secondary-text-color);
    font-weight: 400;
    line-height: 1.71;

}

/* Doing */
.works{

}


/* Team */
.team{
    background-color: #F5F4FA;;
}

.team-mate{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team-jobs{
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

/* Footer general */
.footer{
background-color: #2F303A;
}

.logo-last{
    color:#FFFFFF;
}

.address-nav .link{
    color: #FFFFFF;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}